<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h4>REDES SOCIAIS</h4>
        <a href="#" target="_blank">
          <i class="fab fa-facebook"></i>
        </a>
        <a href="" target="_blank">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" target="_blank">
          <i class="fab fa-whatsapp"></i>
        </a>
      </div>
      <div class="col-md-4">
        <h4>DEPARTAMENTOS</h4>
        <ul>
          <li><a routerLink="/">Início</a></li>
          <li><a routerLink="/trocas-devolucoes">Trocas e Devoluções</a></li>
          <li><a routerLink="/prazo-entrega">Prazo de Entrega</a></li>
          <li><a routerLink="/formas-pagamento">Formas de Pagamento</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h4>ENTRE EM CONTATO</h4>
        <p>5522123456789</p>
        <p>(22) 12345-6789</p>
        <p>CENTRO 40 - NOVA FRIBURGO - RJ</p>
      </div>
    </div>
    <div class="row attribution">
      <div class="col-md-12">
        <p class="created-by">Criado por: Heytor</p>
        <a href="https://github.com/Digowmarins" target="_blank">
          <i class="fab fa-github"></i>
        </a>
      </div>
    </div>
  </div>
</footer>