.forgot-password-container {
    width: 500px;
    height: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
    border: 1px solid #ccc;
    border-radius: 15px;
    margin-top: 30px;
    position: relative;
}

.overlay-message {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 254, 254, 0.829);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 2; /* Coloca a camada de sobreposição acima do formulário */
    backdrop-filter: blur(7px); /* Aplica um desfoque ao fundo */
    border-radius: 15px;
    animation: fadeIn 1s;
}

.form-section {
    position: relative;
    z-index: 1; /* Garante que o formulário fica em primeiro plano */
}

.forgot-password-container h1 {
    font-size: 24px;
    color: #333;
    text-align: left;
    margin-bottom: 30px;
}

.forgot-password-container h2 {
    font-size: 18px;
    color: #666;
    text-align: left;
    margin-bottom: 30px;
}

.forgot-password-container div {
    margin-bottom: 20px;
}

.form-group {
    width: 100%;
}

.forgot-password-container input[type="email"] {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top: 7px;
}

.btn-primary {
    width: 80px;
    height: 80px;
    padding: 10px;
    border: none;
    border-radius: 30%;
    background-color: #ff0000b7;
    color: white;
    cursor: pointer;
    align-self: center;
  }
  
  .btn-invalid {
    width: 80px;
    height: 80px;
    padding: 10px;
    border-radius: 30%;
    cursor: pointer;
    align-self: center;
    border: 1px solid rgba(0, 0, 0, 0.281);
    background-color: #ffffffb7;
    color: rgba(0, 0, 0, 0.281);
  }

.btn-primary:hover {
    background-color: #ff0000;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}