<div class="forgot-password-container">
  <h1>Insira seu E-mail</h1>
  <h2>Vamos te enviar um e-mail para poder alterar a sua senha.</h2>

  <div class="form-group">
    <label for="email">E-mail: </label>
    <input type="email" id="email" [(ngModel)]="email" class="form-control" (input)="atualizarEstadoEmail()" />
  </div>

  <button [ngClass]="{'btn btn-primary': emailValido, 'btn-invalid': !emailValido}" (click)="enviarSolicitacao()" class="btn">
    <i class="material-icons">arrow_forward</i>
  </button>

  <div *ngIf="showMessage" class="overlay-message">
    <h2>{{ mensagem }}</h2>
    <button (click)="fecharMensagem()" class="btn btn-primary">OK</button>
  </div>
</div>